<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lv.marmog.androidpuzzlegame">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/puzzle_game_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/puzzle_game_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBarMy">

        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".CreateUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".ComplexityActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PuzzleActivity" />

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>
</manifest>